<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="mainDetails">
  <div class="aboutDetails">
      <div class="about-icon">
        <img src="assets/images/icon.png">
      </div>

      Badminton Heimaterde Entwickler Team<br/><br/>
      <div class="secondaryDetails">
        Duale Hochschule <br/>
        Baden-Württemberg Mannheim<br/>
        Coblitzallee 1-9<br/>
        68163 Mannheim<br/><br/>
      </div>

      Kontakt:<br/>
      <a href="mailto:project.batmanton@gmail.com">project.batmanton@gmail.com</a><br/>
  </div>
</ion-content>
