page-about {
    .aboutDetails{
        padding: 20px;
    }

    .about-icon {
        width: 94px;
        height: 95px;
        margin-bottom: 15px;
        background-color: $yellow-shade;
        border-radius: 50%;
    }
}

