<ion-content padding>
  <form [formGroup]="loginForm" class="center-form" (submit)="loginUser()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
                 placeholder="Your email address"
                 [class.invalid]="!loginForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Bitte geben Sie eine gültige Email-Adresse ein.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)"
                 placeholder="Your password"
                 [class.invalid]="!loginForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>Ihr Passwort besteht aus mindestens 6 Zeichen.</p>
    </ion-item>
    <br>
    <button ion-button round type="submit">
      Login
    </button>

  </form>

  <div class="button-center">
    <button ion-button round clear (click)="goToSignup()">
      Registrieren
    </button>
    <br>
    <button ion-button round clear (click)="goToResetPassword()">
      Ich habe mein Passwort vergessen
    </button>
  </div>
</ion-content>
