page-register {
  .invalid {
    border-bottom: 1px solid #FF6153;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }

  .button-center {
    text-align: center;
  }

  .center-form {
    text-align: center;
  }

}
