<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Gesendete Einladungen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let matchday of dataMatchday">
    <ion-item (click)="goToPage($event, matchday, dataInvite, dataPlayers)">
      <p>{{matchday.time}}</p>
      <h2><b>Matchday {{matchday.id}}</b></h2>
      <div *ngFor="let team of dataTeams">
        <div *ngIf="team.id == matchday.team">
          <p>{{team.name}} gg. {{matchday.opponent}}</p>
        </div>
      </div>
      <p>Location</p>
      <br>
      <ion-icon name="arrow-dropright-circle" clear item-right></ion-icon>
      <ion-badge color="secondary" item-bottom>
        <ion-icon name="thumbs-up"></ion-icon> X </ion-badge>
      <ion-badge color="danger" item-bottom>
        <ion-icon name="thumbs-down"></ion-icon> X </ion-badge>
      <ion-badge item-bottom>
        <ion-icon name="mail"></ion-icon> X </ion-badge>
      <!--besseres Icon finden-->
    </ion-item>
  </div>
</ion-content>
