<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Gesendete Einladungen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item (click)="goToPage()">
      <p>17.01.2017</p>
          <h2><b>Spieltag 3</b></h2>
          <p>Heimspiel</p>
          <p>Adresse Heimaterde</p>
          <br>
         <button ion-button icon-only clear item-right>
            <ion-icon name="arrow-dropright-circle"></ion-icon>
          </button>
          <ion-badge color="secondary" item-bottom> <ion-icon name="thumbs-up"></ion-icon> 3 </ion-badge>
          <ion-badge color="danger" item-bottom> <ion-icon name="thumbs-down"></ion-icon> 2 </ion-badge>
          <ion-badge item-bottom> <ion-icon name="mail"></ion-icon> 1 </ion-badge>
    </ion-item>
    <ion-item (click)="goToPage()">
      <p>
          17.01.2017<br>
          Heimspiel<br>
          Adresse Heimaterde<br>
          <br>
      </p>
         <button ion-button icon-only clear item-right>
            <ion-icon name="arrow-dropright-circle"></ion-icon>
          </button>
          <ion-badge color="secondary" item-bottom> <ion-icon name="thumbs-up"></ion-icon> 3 </ion-badge>
          <ion-badge color="danger" item-bottom> <ion-icon name="thumbs-down"></ion-icon> 2 </ion-badge>
          <ion-badge item-bottom> <ion-icon name="mail"></ion-icon> 1 </ion-badge>
    </ion-item>
    <ion-item (click)="goToPage()">
      <p>
          17.01.2017<br>
          Heimspiel<br>
          Adresse Heimaterde<br>
          <br>
      </p>
         <button ion-button icon-only clear item-right>
            <ion-icon name="arrow-dropright-circle"></ion-icon>
          </button>
          <ion-badge color="secondary" item-bottom> <ion-icon name="thumbs-up"></ion-icon> 3 </ion-badge>
          <ion-badge color="danger" item-bottom> <ion-icon name="thumbs-down"></ion-icon> 2 </ion-badge>
          <ion-badge item-bottom> <ion-icon name="mail"></ion-icon> 1 </ion-badge>
    </ion-item>
    <ion-item (click)="goToPage()">
      <p>
          17.01.2017<br>
          Heimspiel<br>
          Adresse Heimaterde<br>
          <br>
      </p>
         <button ion-button icon-only clear item-right>
            <ion-icon name="arrow-dropright-circle"></ion-icon>
          </button>
          <ion-badge color="secondary" item-bottom> <ion-icon name="thumbs-up"></ion-icon> 3 </ion-badge>
          <ion-badge color="danger" item-bottom> <ion-icon name="thumbs-down"></ion-icon> 2 </ion-badge>
          <ion-badge item-bottom> <ion-icon name="mail"></ion-icon> 1 </ion-badge>
    </ion-item>
    <ion-item (click)="goToPage()">
      <p>
          17.01.2017<br>
          Heimspiel<br>
          Adresse Heimaterde<br>
          <br>
      </p>
         <button ion-button icon-only clear item-right>
            <ion-icon name="arrow-dropright-circle"></ion-icon>
          </button>
          <ion-badge color="secondary" item-bottom> <ion-icon name="thumbs-up"></ion-icon> 3 </ion-badge>
          <ion-badge color="danger" item-bottom> <ion-icon name="thumbs-down"></ion-icon> 2 </ion-badge>
          <ion-badge item-bottom> <ion-icon name="mail"></ion-icon> 1 </ion-badge>
    </ion-item>
</ion-content>
