<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button *ngIf="(!editMode)" ion-button (click)="goBack()" icon-only>
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Eingeladene Spieler</ion-title>
    <ion-buttons right>
      <button ion-button (click)="goToPage(matchday)">
        <ion-icon name="information-circle" clear item-right></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <div *ngFor="let item of invites">
      <div *ngIf="item.match == matchday.id">
        <div *ngFor="let player of players">
          <div *ngIf="item.sender == utilities.user.uid">
            <div *ngIf="player.id == item.recipient">
              <div *ngIf="item.state == '0'">
                <ion-item (click)="showConfirm()">
                  <img item-left src="{{player.picUrl}}" class="thumbnail-invite"
                       onError="this.src='assets/images/ic_account_circle_black_48dp_2x.png'">
                  <h2> {{player.firstname}} {{player.lastname}} </h2>
                  <h3>
                    <ion-badge color="primary" item-bottom> Keine Antwort</ion-badge>
                  </h3>
                  <ion-icon item-right name="ios-notifications"></ion-icon>
                </ion-item>
              </div>
              <div *ngIf="item.state == '1'">
                <ion-item>
                  <img item-left src="{{player.picUrl}}" class="thumbnail-invite"
                       onError="this.src='assets/images/ic_account_circle_black_48dp_2x.png'">
                  <h2> {{player.firstname}} {{player.lastname}} </h2>
                  <h3>
                    <ion-badge color="secondary" item-bottom> Zugesagt</ion-badge>
                  </h3>
                </ion-item>
              </div>
              <div *ngIf="item.state == '2'">
                <ion-item>
                  <img item-left src="{{player.picUrl}}" class="thumbnail-invite"
                       onError="this.src='assets/images/ic_account_circle_black_48dp_2x.png'">
                  <h2> {{player.firstname}} {{player.lastname}} </h2>
                  <h3>
                    <ion-badge color="danger" item-bottom> Abgesagt</ion-badge>
                  </h3>
                  <p>{{item.excuse}}</p>
                </ion-item>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-list>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>
