/*.thumbnail-matchday-top-left {
    width: 30px;
    height: 30px;
    border-top-left-radius: 100%;
    padding: 0;
    margin-bottom: -5px;
    margin-right: -4px;
}

.thumbnail-matchday-top-right {
    width: 30px;
    height: 30px;
    border-top-right-radius: 100%;
    padding: 0;
    margin-bottom: -5px;
}

.thumbnail-matchday-bottom-right {
    width: 30px;
    height: 30px;
    border-bottom-right-radius: 100%;
    padding: 0;
    margin-left: -4px;
}

.thumbnail-matchday-bottom-left {
    width: 30px;
    height: 30px;
    border-bottom-left-radius: 100%;
    padding: 0;
}*/