<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Spieltag</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngFor="let item of invites">
    <div *ngIf="item.match == matchday.id">
      <ion-item (click)="goToPage()">
        <div *ngFor="let player of players">
         <div *ngIf="player.id == item.recipient">
            <p>
              <br> {{player.firstname}} {{player.lastname}}
              <br>
              <br>
            </p>
         </div>
        </div>
        <ion-icon name="arrow-dropright-circle" clear item-right></ion-icon>
        <div *ngIf="item.state == '0'">
          <ion-badge color="primary" item-bottom> Keine Antwort</ion-badge>
        </div>
        <div *ngIf="item.state == '1'">
          <ion-badge color="secondary" item-bottom> Zugesagt</ion-badge>
        </div>
        <div *ngIf="item.state == '2'">
          <ion-badge color="danger" item-bottom> Abgesagt</ion-badge>
        </div>
      </ion-item>
    </div>
  </div>
</ion-content>