<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Gesendete Einladungen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item (click)="goToPage()">
      <p>
          17.01.2017<br>
          Heimspiel<br>
          Adresse Heimaterde<br>
          Spieler: Max Mustermann<br>
          <br>
      </p>
         <button ion-button icon-only clear item-right>
            <ion-icon name="arrow-dropright-circle"></ion-icon>
          </button>
          <ion-badge color="secondary" item-bottom>Angenommen</ion-badge>
    </ion-item>
    <ion-item>
      <p>
          17.01.2017<br>
          Heimspiel<br>
          Adresse Heimaterde<br>
          Spieler: Max Mustermann<br>
          <br>
      </p>
         <button ion-button icon-only clear item-right>
            <ion-icon name="arrow-dropright-circle"></ion-icon>
          </button>
          <ion-badge color="secondary" item-bottom>Angenommen</ion-badge>
    </ion-item>
    <ion-item>
      <p>
          17.01.2017<br>
          Heimspiel<br>
          Adresse Heimaterde<br>
          Spieler: Max Mustermann<br>
          <br>
      </p>
         <button ion-button icon-only clear item-right>
            <ion-icon name="arrow-dropright-circle"></ion-icon>
          </button>
          <ion-badge color="secondary" item-bottom>Angenommen</ion-badge>
    </ion-item>
    <ion-item>
      <p>
          17.01.2017<br>
          Heimspiel<br>
          Adresse Heimaterde<br>
          Spieler: Max Mustermann<br>
          <br>
      </p>
         <button ion-button icon-only clear item-right>
            <ion-icon name="arrow-dropright-circle"></ion-icon>
          </button>
          <ion-badge color="secondary" item-bottom>Angenommen</ion-badge>
    </ion-item>
</ion-content>
