<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Vereinspasswort
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="clubPasswordForm" (submit)="setClubPassword()" novalidate>

    <ion-item>
      <ion-label stacked>Vereinspasswort</ion-label>
      <ion-input #email formControlName="clubPassword" type="password"
                 placeholder="Ihr Vereinspasswort"
                 ></ion-input>
    </ion-item>
    <br>
    <div class="button-center">
      <button ion-button round outline type="submit">
        Bestätigen
      </button>
    </div>
  </form>
</ion-content>
