<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Vereinspasswort eingeben
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-label class="description-text">Um die App nutzen zu können, müssen Sie diese erst mit Ihrem Vereinspasswort
    freischalten. Das Passwort
    erhalten Sie von Ihrem Trainer.
  </ion-label>
  <form class="center-form" [formGroup]="clubPasswordForm" (submit)="setClubPassword()" novalidate>
    <ion-item>
      <ion-input #clubPassword formControlName="clubPassword" type="password" [class.invalid]="!clubPasswordForm.controls.clubPassword.valid && (passwordChanged || submitAttempt)"
                 placeholder="Ihr Vereinspasswort"></ion-input>
    </ion-item>
    <ion-item *ngIf="!clubPasswordForm.controls.clubPassword.valid && (passwordChanged || submitAttempt)" class="error-message">
      <p>Bitte geben Sie Ihr das Vereinspasswort ein.</p>
    </ion-item>
    <br>
    <button ion-button round outline type="submit">
      Bestätigen
    </button>
  </form>
</ion-content>
