<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button ion-button (click)="cancel()">Abbrechen</button>
    </ion-buttons>
    <ion-title>Passwort ändern</ion-title>
    <ion-buttons right>
      <button ion-button (click)="finish()"
              [disabled]="!passwordsAreSame || !passwordForm.controls.password.valid || !passwordForm.controls.passwordOld.valid || passwordOldIsSame">
        Fertig
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form class="center-form" [formGroup]="passwordForm" novalidate>
    <ion-item>
      <ion-label floating>Altes Passwort</ion-label>
      <ion-input #passwordOld formControlName="passwordOld" (input)="elementChanged(passwordOld)"
                 [class.invalid]="!passwordForm.controls.passwordOld.valid && passwordOldChanged"></ion-input>
    </ion-item>
    <ion-item *ngIf="!passwordForm.controls.passwordOld.valid && passwordOldChanged" class="error-message">
      <p>Bitte geben Sie Ihr altes Passwort an.</p>
    </ion-item>

    <ion-item class="margin-top">
      <ion-label floating>Neues Passwort</ion-label>
      <ion-input #password formControlName="password" (input)="elementChanged(password)"
                 [class.invalid]="(!passwordForm.controls.password.valid || passwordOldIsSame) && passwordChanged"></ion-input>
    </ion-item>
    <ion-item *ngIf="!passwordForm.controls.password.valid && passwordChanged" class="error-message">
      <p>Ihr neues Passwort muss mindestens 6 Zeichen lang sein.</p>
    </ion-item>
    <ion-item *ngIf="passwordOldIsSame && passwordForm.controls.password.valid && passwordChanged && passwordOldChanged" class="error-message">
      <p>Neues und altes Passwort dürfen nicht gleich sein.</p>
    </ion-item>

    <ion-item class="margin-top">
      <ion-label floating>Neues Passwort bestätigen</ion-label>
      <ion-input #passwordConfirm formControlName="passwordConfirm"
                 (input)="elementChanged(passwordConfirm)"
                 [class.invalid]="!passwordsAreSame && passwordConfirmChanged"></ion-input>
    </ion-item>
    <ion-item *ngIf="!passwordsAreSame && passwordConfirmChanged" class="error-message">
      <p>Die Passwörter stimmen nicht überein.</p>
    </ion-item>
  </form>
</ion-content>
