<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mein Profil</ion-title>
    <ion-buttons right>
      <!--<button ion-button outline small (click)="editProfile()" >-->
      <button ion-button large (click)="editProfile()" >
        <!--Bearbeiten-->
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <div class="picture-container">
      <img class="profile-image" src="https://scontent-fra3-1.xx.fbcdn.net/v/t31.0-8/14125474_1349299668432513_7718445018116444592_o.jpg?oh=e6480088dced86a864d9525bd997cc4a&oe=58AF1B4D" />
    </div>
    <div>
      <ion-item>
        <ion-label>Name:</ion-label>
        <ion-label id="name-label">{{testDataPlayer.vorname}} {{testDataPlayer.nachname}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>E-Mail:</ion-label>
        <ion-label>{{testDataPlayer.email}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Geburtstag:</ion-label>
        <ion-label>{{testDataPlayer.geburtstag}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mannschaft:</ion-label>
        <ion-label>{{testDataPlayer.mannschaft}}</ion-label>
      </ion-item>
    </div>
  </div>

  <div class="bottomContainer">
    <div class="saveButtonContainer">
      <button ion-button round color="danger" icon-left outline (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
        Logout
      </button>
    </div>
  </div>

</ion-content>
