<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="(!editMode)">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons left>
      <button ion-button *ngIf="(editMode)" (click)="cancelEditProfile()">Abbrechen</button>
    </ion-buttons>
    <ion-title>Mein Profil</ion-title>
    <ion-buttons right>
      <button *ngIf="(!editMode && utilities.userLoaded)" ion-button (click)="editProfile()">Bearbeiten
        <!--<ion-icon name="create"></ion-icon>-->
      </button>
      <button
        [disabled]="(!firstnameChanged && !lastnameChanged && !emailChanged && !birthdayChanged && !genderChanged && !teamChanged) || !formValid"
        *ngIf="(editMode)" ion-button (click)="finishEditProfile()">Fertig
        <!--<ion-icon name="checkmark" class="checkmarkIcon"></ion-icon>-->
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <div class="picture-container">
      <!--<img class="profile-image picture-click" (click)="changeProfilePicture()"-->
           <!--src={{profilePictureUrl}}>-->
      <img id="profileImage" class="profile-image picture-click" (click)="changeProfilePicture()">
    </div>
    <br/>
    <form class="center-form profile-inputs" [formGroup]="profileForm" novalidate>
      <ion-item *ngIf="(!editMode)">
        <ion-label class="profileLabel">Vorname:</ion-label>
        <ion-label class="profileValue">{{utilities.userData.firstname}}</ion-label>
      </ion-item>
      <ion-item *ngIf="(editMode)">
        <ion-label color="primary">Vorname:</ion-label>
        <ion-input class="profileValue" #firstname formControlName="firstname" [(ngModel)]="utilities.userData.firstname"
                   (input)="elementChanged(firstname)"
                   [class.invalid]="!profileForm.controls.firstname.valid && firstnameChanged" ></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!profileForm.controls.firstname.valid && firstnameChanged">
        <p>Bitte geben Sie Ihren Vorname ein.</p>
      </ion-item>

      <ion-item *ngIf="(!editMode)">
        <ion-label class="profileLabel">Nachname:</ion-label>
        <ion-label class="profileValue">{{utilities.userData.lastname}}</ion-label>
      </ion-item>
      <ion-item *ngIf="(editMode)">
        <ion-label color="primary">Nachname:</ion-label>
        <ion-input class="profileValue" #lastname formControlName="lastname" [(ngModel)]="utilities.userData.lastname"
                   (input)="elementChanged(lastname)"
                   [class.invalid]="!profileForm.controls.lastname.valid && lastnameChanged"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!profileForm.controls.lastname.valid && lastnameChanged">
        <p>Bitte geben Sie Ihren Nachnamen ein.</p>
      </ion-item>

      <ion-item *ngIf="(!editMode)">
        <ion-label class="profileLabel">E-Mail:</ion-label>
        <ion-label class="profileValue">{{utilities.userData.email}}</ion-label>
      </ion-item>
      <ion-item *ngIf="(editMode)">
        <ion-label color="primary">E-Mail:</ion-label>
        <ion-input class="profileValue" #email formControlName="email" type="email" [(ngModel)]="utilities.userData.email"
                   (input)="elementChanged(email)"
                   [class.invalid]="!profileForm.controls.email.valid  && emailChanged"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!profileForm.controls.email.valid && emailChanged">
        <p>Bitte geben Sie eine gültige E-Mail-Adresse ein.</p>
      </ion-item>

      <ion-item *ngIf="(!editMode)">
        <ion-label class="profileLabel">Geburtsdatum:</ion-label>
        <ion-label class="profileValue">{{utilities.userData.birthday | birthday}}</ion-label>
      </ion-item>
      <ion-item *ngIf="(editMode)">
        <ion-label color="primary">Geburtsdatum:</ion-label>
        <ion-datetime class="profileValue" #birthday formControlName="birthday" displayFormat="DD.MM.YYYY" pickerFormat="DD MM YYYY"
                      placeholder="Geburtsdatum" [(ngModel)]="utilities.userData.birthday"
                      (ionChange)="birthdaySelectChanged(utilities.userData.birthday)"
                      max="{{today}}" doneText="Ok" cancelText="Abbrechen"></ion-datetime>
      </ion-item>

      <ion-item *ngIf="(!editMode)">
        <ion-label class="profileLabel">Geschlecht:</ion-label>
        <ion-label class="profileValue">{{utilities.userData.gender | gender}}</ion-label>
      </ion-item>
      <ion-item *ngIf="(editMode)">
        <ion-label color="primary">Geschlecht:</ion-label>
        <ion-select class="profileValue" #gender formControlName="gender" placeholder="Geschlecht" [(ngModel)]="utilities.userData.gender"
                    (ionChange)="genderSelectChanged(utilities.userData.gender)" doneText="Ok" cancelText="Abbrechen">
          <ion-option value="m">männlich</ion-option>
          <ion-option value="f">weiblich</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="(!editMode)">
        <ion-label class="profileLabel">Mannschaft:</ion-label>
        <ion-label class="profileValue">{{utilities.userData.team | teams}}</ion-label>
      </ion-item>
      <ion-item *ngIf="(editMode)">
        <ion-label color="primary">Mannschaft:</ion-label>
        <ion-select class="profileValue" #team formControlName="team" placeholder="Mannschaft" [(ngModel)]="utilities.userData.team"
                    (ionChange)="teamSelectChanged(utilities.userData.team)" doneText="Ok" cancelText="Abbrechen">
          <ion-option value=0>keine Mannschaft</ion-option>
          <ion-option *ngFor="let item of relevantTeams" value="{{item.id}}">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
    </form>

    <div *ngIf="(!editMode)" class="bottomContainer">
      <div class="saveButtonContainer">
        <button ion-button round color="danger" icon-left outline (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
          Logout
        </button>
      </div>
    </div>

  </div>
</ion-content>
