create-new-team{
  .button-center{
      text-align: center;
  }

  .submitButtonAdd{
      margin-top: 10px;
  }

  .teamHeadline{
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: bold;
  }

  .team-image {
    border-radius: 10rem;
    width: 12em;
    height: 12em;
  }

  .create-label-n{
      color:gray;
  }

  .data-label{
      text-align: right;
  }
}
