<ion-header>
    <ion-navbar>
        <ion-title>Spieler hinzufügen</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-card-title>Ausgewählte Spieler</ion-card-title>
        <div *ngFor="let player of playersOfTeam">
            <ion-item>
                        <ion-grid>
                            <ion-row>
                                <ion-col width-15>

                                    <img src="../../assets/images/ic_account_circle_black_24dp_2x.png" />

                                </ion-col>
                                <ion-col width-70>

                                    Vorname: {{player.firstname}} <br> Nachname: {{player.lastname}} <br> Geburtstag: {{player.birthday}}

                                </ion-col>
                                <ion-col width-15>
                                    <button ion-button icon-only color="danger" (click)="removePlayer(p)">
                                <ion-icon name="remove"></ion-icon>
                            </button>

                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
        </div>
    </ion-list>
    <ion-list>
        <ion-card-title>Verfügbare Spieler</ion-card-title>
        <ion-item>
            <ion-searchbar (ionInput)="getItemsLastName($event)"></ion-searchbar>
        </ion-item>
        <ion-item>
            <ion-label stacked>Nach Mannschaft filtern:</ion-label>
            <ion-select [(ngModel)]="team" (ionChange)="teamSelectChanged(team)" [ngModelOptions]="{standalone: true}" placeholder="Mannschaft auswählen">
                <!--<ion-option *ngFor="let item of teams" value=0>in keiner Mannschaft</ion-option>-->
                <ion-option *ngFor="let item of teams" value="{{item.id}}">{{item.name}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <!--<ion-searchbar (ionInput)="getItemsTeamName($event)"></ion-searchbar>-->
    <ion-list>
        <ion-toolbar no-border-top>
            <ion-segment [(ngModel)]="geschlecht">
                <ion-segment-button value="maenner">
                    Männer
                </ion-segment-button>
                <ion-segment-button value="frauen">
                    Frauen
                </ion-segment-button>
            </ion-segment>
        </ion-toolbar>
        <div [ngSwitch]="geschlecht">
            <ion-list *ngSwitchCase="'maenner'">
                <div *ngFor="let item of allPlayers">
                    <div *ngIf="item.gender=='m'">
                        <ion-item>
                            <div class="teamItem-left">
                                <img src="../../assets/images/ic_account_circle_black_24dp_2x.png" />
                            </div>
                            <div class="teamItem-right">
                                <div class="teamItem-details">
                                    Vorname: {{item.firstname}} <br> Nachname: {{item.lastname}}
                                </div>
                                <div *ngIf="item.isAdult==true">
                                    Altersklasse: Erwachsen
                                </div>
                                <div *ngIf="item.isAdult==false">
                                    Altersklasse: Jugend
                                </div>
                            </div>
                        </ion-item>
                    </div>
                </div>
            </ion-list>
            <ion-list *ngSwitchCase="'frauen'">
                <div *ngFor="let item of allPlayers">
                    <div *ngIf="item.gender=='f'">
                        <ion-item>
                            <div class="teamItem-left">
                                <img src="../../assets/images/ic_account_circle_black_24dp_2x.png" />
                            </div>
                            <div class="teamItem-right">
                                <div class="teamItem-details">
                                    Vorname: {{item.firstname}} <br> Nachname: {{item.lastname}}
                                </div>
                                <div *ngIf="item.isAdult==true">
                                    Altersklasse: Erwachsen
                                </div>
                                <div *ngIf="item.isAdult==false">
                                    Altersklasse: Jugend
                                </div>
                            </div>
                        </ion-item>
                    </div>
                </div>
            </ion-list>
        </div>
        <!--<div *ngFor="let item of allPlayers">
            <ion-item>
                <div class="teamItem-left">
                    <img src="../../assets/images/ic_account_circle_black_24dp_2x.png" />
                </div>
                <div class="teamItem-right">
                    <div class="teamItem-details">
                        Vorname: {{item.firstname}} <br> Nachname: {{item.lastname}}
                    </div>
                    <div *ngIf="item.isAdult==true">
                        Altersklasse: Erwachsen
                    </div>
                    <div *ngIf="item.isAdult==false">
                        Altersklasse: Jugend
                    </div>
                </div>
            </ion-item>
        </div>-->
    </ion-list>
</ion-content>