<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>Verfügbare Spieler</ion-title>
    <ion-buttons right>
      <button ion-button *ngIf="toRoot=='yes'" (click)="nav.popToRoot()">
        Fertig
      </button>
      <button ion-button *ngIf="toRoot=='no'" (click)="backToEditMode()">
        Fertig
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!--<ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="spielerStatus">
          <ion-segment-button value="chosen">
              Ausgewählt
          </ion-segment-button>
          <ion-segment-button value="available">
              Verfügbar
          </ion-segment-button>
      </ion-segment>
  </ion-toolbar>-->
  <!-- <div [ngSwitch]="spielerStatus">
      <div *ngSwitchCase="'chosen'">-->
  <!--<ion-searchbar (ionInput)="getItemsChosen($event)"></ion-searchbar>
          <div *ngIf="playersOfTeam.length==0">
              <p class="no-Players-p">Keine Spieler ausgewählt</p>
          </div>
          <ion-list *ngIf="playersOfTeam.length>0">
              <div *ngFor="let item of playersOfTeam">
                  <ion-item>
                      <ion-grid>
                          <ion-row>
                              <ion-col width-15>

                                  <img src="../../assets/images/ic_account_circle_black_24dp_2x.png" />
                              </ion-col>
                              <ion-col width-70>


                                  <img src="../../assets/images/ic_account_circle_black_24dp_2x.png" />

                              </ion-col>
                              <ion-col width-70>


                                  <div class="firstName-lastName">
                                      {{item.lastname}}, {{item.firstname}}
                                  </div>
                                  <br/>
                                  <div class="birthday-details">
                                      Geburtstag: {{item.birthday | birthday}}
                                  </div>


                              </ion-col>
                              <ion-col width-15>
                                  <button ion-button icon-only color="danger" (click)="removePlayer(item)">
                              <ion-icon name="remove"></ion-icon>
                          </button>



                              </ion-col>
                          </ion-row>
                      </ion-grid>
                  </ion-item>
              </div>
          </ion-list>-->
  <!--</div>-->
  <!--<div *ngSwitchCase="'available'">-->
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="geschlecht" >
      <ion-segment-button value="maenner">
        Männer
      </ion-segment-button>
      <ion-segment-button value="frauen">
        Frauen
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-searchbar (ionInput)="getItemsAvailable($event)" placeholder="Suche"></ion-searchbar>
  <ion-list>
    <div [ngSwitch]="geschlecht">
      <ion-list *ngSwitchCase="'maenner'">
        <!--<ion-item-group *ngFor="let group of groupedPlayers">
                    <ion-item-divider *ngIf="group.add==true" light>{{group.letter}}</ion-item-divider>-->
        <div *ngFor="let item of allPlayers">
          <!--<div *ngFor="let item of group.players">-->
          <div *ngIf="item.gender=='m'">
            <ion-item class="less-label-margin">
              <div>
                <div class="itemPlayerLeft">
                  <img src="{{item.picUrl}}" class="player-item-image picture-click" (click)="this.utilities.openProfile(item, this.nav)" onError="this.src='assets/images/user-shape-64.png'" />
                </div>
                <div class="itemPlayerRight">
                  <div class="mainDetails">
                    {{ item.lastname }}, {{item.firstname}}
                    <button class="player-item-button" *ngIf="!item.isAdded" ion-button round outline icon-only color="secondary" (click)="addPlayer(item)">
                      <ion-icon name="add"></ion-icon>
                    </button>
                    <button class="player-item-button" *ngIf="item.isAdded" ion-button round outline icon-only color="danger" (click)="removePlayer(item)">
                      <ion-icon name="remove"></ion-icon>
                    </button>
                  </div>
                  <div class="secondaryDetails">
                    {{item.birthday | birthday}}
                  </div>
                </div>
              </div>
            </ion-item>
          </div>
        </div>
        <ion-label *ngIf="manCounter==0" class="align-center no-items">Keine männlichen Spieler verfügbar</ion-label>
      </ion-list>
      <ion-list *ngSwitchCase="'frauen'">
        <div *ngFor="let item of allPlayers">
          <div *ngIf="item.gender=='f'">
            <ion-item class="less-label-margin">
              <div>
                <div class="itemPlayerLeft">
                  <img src="{{item.picUrl}}" class="player-item-image picture-click" (click)="this.utilities.openProfile(item, this.nav)" onError="this.src='assets/images/user-shape-64.png'" />
                </div>
                <div class="itemPlayerRight">
                  <div class="mainDetails">
                    {{ item.lastname }}, {{item.firstname}}
                    <button class="player-item-button" *ngIf="!item.isAdded" ion-button round outline icon-only color="secondary" (click)="addPlayer(item)">
                      <ion-icon name="add"></ion-icon>
                    </button>
                    <button class="player-item-button" *ngIf="item.isAdded" ion-button round outline icon-only color="danger" (click)="removePlayer(item)">
                      <ion-icon name="remove"></ion-icon>
                    </button>
                  </div>
                  <div class="secondaryDetails">
                    {{item.birthday | birthday}}
                  </div>
                </div>
              </div>
            </ion-item>
          </div>
        </div>
        <ion-label *ngIf="womanCounter==0" class="align-center no-items">Keine weiblichen Spieler verfügbar</ion-label>
      </ion-list>
    </div>
  </ion-list>
  <!-- </div>-->
  <!-- </div>-->
</ion-content>
