.no-Players-p{
    text-align: center;
    font-size: 15px;
    color: lightslategray;
}

.playerItem-left{
    width: 20%;
    float: left;
}

.playerItem-right{

    width: 80%;
    color: black;
    float: right;
    padding: 8px;
}
