<ion-header>
    <ion-navbar>
        <ion-title>Spieler hinzufügen</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <!--<ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="spielerStatus">
            <ion-segment-button value="chosen">
                Ausgewählt
            </ion-segment-button>
            <ion-segment-button value="available">
                Verfügbar
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>-->
   <!-- <div [ngSwitch]="spielerStatus">
        <div *ngSwitchCase="'chosen'">-->
            <!--<ion-searchbar (ionInput)="getItemsChosen($event)"></ion-searchbar>
            <div *ngIf="playersOfTeam.length==0">
                <p class="no-Players-p">Keine Spieler ausgewählt</p>
            </div>
            <ion-list *ngIf="playersOfTeam.length>0">
                <div *ngFor="let item of playersOfTeam">
                    <ion-item>
                        <ion-grid>
                            <ion-row>
                                <ion-col width-15>

                                    <img src="../../assets/images/ic_account_circle_black_24dp_2x.png" />

                                </ion-col>
                                <ion-col width-70>

                                    <div class="firstName-lastName">
                                        {{item.lastname}}, {{item.firstname}}
                                    </div>
                                    <br/>
                                    <div class="birthday-details">
                                        Geburtstag: {{item.birthday | birthday}}
                                    </div>

                                </ion-col>
                                <ion-col width-15>
                                    <button ion-button icon-only color="danger" (click)="removePlayer(item)">
                                <ion-icon name="remove"></ion-icon>
                            </button>

                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </div>
            </ion-list>-->
        <!--</div>-->
        <!--<div *ngSwitchCase="'available'">-->
            <ion-toolbar no-border-top>
                    <ion-segment [(ngModel)]="geschlecht" color="secondary">
                        <ion-segment-button value="maenner">
                            Männer
                        </ion-segment-button>
                        <ion-segment-button value="frauen">
                            Frauen
                        </ion-segment-button>
                    </ion-segment>
                </ion-toolbar>
            <ion-searchbar (ionInput)="getItemsAvailable($event)"></ion-searchbar>
            <ion-list>
                <div [ngSwitch]="geschlecht">
                    <ion-list *ngSwitchCase="'maenner'">
                        <div *ngFor="let item of allPlayers">
                            <div *ngIf="item.gender=='m'">
                                <ion-item>
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col width-15>

                                                <img src="../../assets/images/ic_account_circle_black_24dp_2x.png" />

                                            </ion-col>
                                            <ion-col width-70>
                                                <div class="firstName-lastName">
                                                    {{item.lastname}}, {{item.firstname}}
                                                </div>
                                                <br/>
                                                <div class="birthday-details">
                                                    Geburtstag: {{item.birthday | birthday}}
                                                </div>
                                            </ion-col>
                                            <ion-col width-15>
                                                <button ion-button icon-only color="secondary" (click)="addPlayer(item)">
                                <ion-icon name="add"></ion-icon>
                            </button>

                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-item>
                            </div>
                        </div>
                    </ion-list>
                    <ion-list *ngSwitchCase="'frauen'">
                        <div *ngFor="let item of allPlayers">
                            <div *ngIf="item.gender=='f'">
                                <ion-item>
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col width-15>

                                                <img src="../../assets/images/ic_account_circle_black_24dp_2x.png" />

                                            </ion-col>
                                            <ion-col width-70>

                                                <div class="firstName-lastName">
                                                    {{item.lastname}}, {{item.firstname}}
                                                </div>
                                                <br/>
                                                <div class="birthday-details">
                                                    Geburtstag: {{item.birthday | birthday}}
                                                </div>

                                            </ion-col>
                                            <ion-col width-15>
                                                <button ion-button icon-only color="secondary" (click)="addPlayer(item)">
                                <ion-icon name="add"></ion-icon>
                            </button>

                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-item>
                            </div>
                        </div>
                    </ion-list>
                </div>
            </ion-list>
       <!-- </div>-->
   <!-- </div>-->
</ion-content>