.deleteButton{
    width: 15%;
    float: right;
}

.playerListContentRightDel{
    width: 70%;
    text-align: center;
    padding: 8px;
}

.playerListContentLeftDel{
    width: 15%;
    float: left;
}