.teamItem-left{
    width: 25%;
    float: left;
}

.teamItem-right{
<<<<<<< HEAD
    width: 65%;
=======
    width: 75%;
>>>>>>> Basisfunktionalität TeamComponent
    color: lightslategray;
    float: right;
    padding: 8px;
}

.teamItem-details{
    color: black;
}

.addTeamButton{
    background-color: green;
    width: 60px;
    height: 50px;
    float: left;
}

.iconAdd{
    font-size: 40px;
}