<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mannschaften</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="testGetData()">Print Data</button>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <div *ngFor="let item of teams">
      <ion-item (click)="viewTeam($event, item)">
        <div class="teamItem-left">
          <img src="../../assets/images/ic_account_circle_black_24dp_2x.png" />
        </div>
        <div class="teamItem-right">
          <div class="teamItem-details">
            Teamname: {{item.name}} <br>
          </div>
          <div *ngIf="item.isAdult==true">
            Altersklasse: Erwachsen
          </div>
          <div *ngIf="item.isAdult==false">
            Altersklasse: Jugend
          </div>
          </div>
          <div *ngIf="item.isAdult==true">
            Altersklasse: Erwachsen
          </div>
          <div *ngIf="item.isAdult==false">
            Altersklasse: Jugend
          </div>
        </div>
      </ion-item>
    </div>
  </ion-list>
  <button ion-button icon-only class="addTeamButton">
    <ion-icon name="add-circle" class="iconAdd"></ion-icon>
  </button>
</ion-content>
