<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mannschaften</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<button ion-button (click)="testGetData()">Print Data</button>-->
  <ion-searchbar placeholder="Suche" (ionInput)="getItems($event.target.value)"></ion-searchbar>
  <ion-list>
    <div *ngIf="teams.length==0">
      <ion-label class="align-center no-items">Keine Teams vorhanden</ion-label>
    </div>
    <div *ngFor="let item of teams">
      <ion-item-sliding>
      <ion-item (click)="viewTeam($event, item)" [(ngModel)]="item.name" ngDefaultControl class="less-label-margin">
        <div>
          <div class="itemLeft">
              <div class="thumbnail-pictures">
                <div>
                  <img class="thumbnail-top-left" src="{{getFirstFourPicUrls(item)[0]}}" onError="this.src='assets/images/ic_account_circle_black_48dp_2x.png'"/>
                  <img class="thumbnail-top-right" src="{{getFirstFourPicUrls(item)[1]}}" onError="this.src='assets/images/ic_account_circle_black_48dp_2x.png'"/>
                </div>
                <div class="bottom-thumbnail-row">
                  <img class="thumbnail-bottom-left" src="{{getFirstFourPicUrls(item)[2]}}" onError="this.src='assets/images/ic_account_circle_black_48dp_2x.png'"/>
                  <img class="thumbnail-bottom-right" src="{{getFirstFourPicUrls(item)[3]}}" onError="this.src='assets/images/ic_account_circle_black_48dp_2x.png'"/>
                </div>
              </div>
          </div>
          <!--<div class="teamItem-left">
            <img id="teamPic" class="teamImage" src="{{item.teamPicUrl}}" onError="this.src='assets/images/ic_account_circle_black_24dp_2x.png'" />
            <!<img src="assets/images/ic_account_circle_black_24dp_2x.png" />-->
          <!--</div>-->
          <div class="itemRight">
            <div *ngIf="item.ageLimit==0">Erwachsen</div>
            <div *ngIf="item.ageLimit!=0">U {{item.ageLimit}}</div>
            <div class="mainDetails">{{item.name}}</div>
            <div>{{item.type}}</div>
            <div>S-Klasse {{item.sclass}}</div>
          </div>
        </div>
      </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="presentConfirm(item.id)">
            <ion-icon name='trash'></ion-icon>
            Löschen
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>
  <ion-fab right bottom *ngIf="(isAdmin)">
     <button ion-fab icon-only color="secondary" (click)="pushToAddNewTeam()">
    <ion-icon name="add"></ion-icon>
  </button>
  </ion-fab>
 <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>
