<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-buttons left>
            <button *ngIf="(editMode)" ion-button (click)="toggleEditMode()">
        Abbrechen
    </button>
            <button *ngIf="(!editMode)" ion-button (click)="popToRoot()">
            Zurück
        </button>
        </ion-buttons>
        <ion-title>Mannschaftsdetails</ion-title>
        <ion-buttons right>
            <button *ngIf="(!editMode)" ion-button (click)="editTeam()">Bearbeiten</button>
            <button ion-button *ngIf="(editMode)" (click)="updateTeamInfos()">
         Fertig
      </button>
        </ion-buttons>
        <!--<ion-buttons right>
            <button ion-button (click)="presentPopover($event)">
                     <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>-->
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="topContainer">
        <div class="pictureContainer">
            <img src="assets/images/ic_account_circle_black_24dp_2x.png" />
        </div>
        <form class="center-form" [formGroup]="teamForm" novalidate>
        <div class="playerDataContainer">
            <ion-item *ngIf="(!editMode)">
                <ion-label class="playerLabel">Teamname:</ion-label>
                <ion-label class="playerValue">{{team.name}}</ion-label>
            </ion-item>
            <ion-item *ngIf="(!editMode)">
                <ion-label class="playerLabel">Alterklasse:</ion-label>
                <ion-label *ngIf="team.ageLimit==0" class="playerValue">Erwachsen</ion-label>
                <ion-label *ngIf="team.ageLimit!=0" class="playerValue">U {{team.ageLimit}}</ion-label>
            </ion-item>
            <ion-item *ngIf="(!editMode) && team.ageLimit!=team.type">
                <ion-label class="playerLabel">Altersbezeichnung:</ion-label>
                <ion-label *ngIf="team.type==1" class="playerValue">Mini</ion-label>
                <ion-label *ngIf="team.type==0" class="playerValue">Erwachsen</ion-label>
            </ion-item>
            <ion-item *ngIf="(editMode)">
                <ion-label class="playerLabel">Teamname:</ion-label>
                <ion-input #teamName formControlName="teamName" class="playerValue" value="{{team.name}}"></ion-input>
            </ion-item>
            <ion-item *ngIf="(editMode)">
                <ion-label class="playerLabel">Maximales Alter:</ion-label>
                <ion-input #altersK formControlName="altersK" class="playerValue"  type="number" value="{{team.ageLimit}}"></ion-input>
            </ion-item>
            <ion-item *ngIf="(editMode)">
                <ion-label class="playerLabel">Altersbezeichnung:</ion-label>
                <ion-input #altersBez formControlName="altersBez" *ngIf="team.type!=0 && team.type!=1" class="playerValue"></ion-input>
                <ion-input #altersBez formControlName="altersBez" *ngIf="team.type==1" class="playerValue"  value="Mini"></ion-input>
                <ion-input #altersBez formControlName="altersBez" *ngIf="team.type==0" class="playerValue"  value="Erwachsen"></ion-input>
            </ion-item>
        </div>
        </form>
    </div>
    <ion-grid *ngIf="(editMode)">
        <ion-row>
            <button class="editPlayerButton" ion-button block (click)="editPlayers()" color="secondary">Spieler hinzufügen</button>
        </ion-row>
        <ion-row>
             <button class="editPlayerButton" ion-button block (click)="presentConfirm(null, 'delT')" color="danger">Mannschaft löschen</button>           
        </ion-row>
    </ion-grid>
    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="geschlecht">
            <ion-segment-button value="maenner">
                Männer
            </ion-segment-button>
            <ion-segment-button value="frauen">
                Frauen
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <div [ngSwitch]="geschlecht">
        <ion-list *ngSwitchCase="'maenner'">
            <div *ngIf="justPlayers.length==0">
                <p class="no-Players-p">Keine Spieler vorhanden</p>
            </div>
            <div *ngFor="let p of justPlayers">
                <div *ngIf="p.gender=='m'">
                    <ion-item [(ngModel)]="p.lastname" ngDefaultControl>
                        <ion-grid>
                            <ion-row>
                                <ion-col width-15>

                                    <img src="assets/images/ic_account_circle_black_24dp_2x.png" />

                                </ion-col>
                                <ion-col width-70>

                                    <div class="firstName-lastName">
                                        {{ p.lastname }}, {{p.firstname}} <br/>
                                    </div>
                                    <div class="birthday-details">
                                        Geburtstag: {{p.birthday | birthday}}
                                    </div>

                                </ion-col>
                                <ion-col width-15>
                                    <button ion-button icon-only color="danger" *ngIf="(editMode)" (click)="presentConfirm(p, 'delP')">
                                <ion-icon name="remove"></ion-icon>
                            </button>

                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                    <!--<ion-item>
                        <div class="playerListContentLeft">
                            <img src="../../assets/images/ic_account_circle_black_24dp_2x.png" />
                        </div>
                        <div class="playerListContentRight">
                            Vorname: {{p.firstname}} <br> Nachname: {{p.lastname}} <br> Geburtstag: {{p.birthday}}
                        </div>
                    </ion-item>-->
                </div>
            </div>
        </ion-list>
        <ion-list *ngSwitchCase="'frauen'">
            <div *ngIf="justPlayers.length==0">
                <p class="no-Players-p">Keine Spieler vorhanden</p>
            </div>
            <div *ngFor="let p of justPlayers">
                <div *ngIf="p.gender=='f'">
                    <ion-item [(ngModel)]="p.lastname" ngDefaultControl>
                        <ion-grid>
                            <ion-row>
                                <ion-col width-15>

                                    <img src="assets/images/ic_account_circle_black_24dp_2x.png" />

                                </ion-col>
                                <ion-col width-70>
                                    <div class="firstName-lastName">
                                        {{ p.lastname }}, {{p.firstname}} <br/>
                                    </div>
                                    <div class="birthday-details">
                                        Geburtstag: {{p.birthday | birthday}}
                                    </div>

                                    <!-- Vorname: {{p.firstname}} <br> Nachname: {{p.lastname}} <br> Geburtstag: {{p.birthday
                                    | birthday}}-->

                                </ion-col>
                                <ion-col width-15>
                                    <button ion-button icon-only color="danger" *ngIf="(editMode)" (click)="presentConfirm(p, 'delP')">
                                <ion-icon name="remove"></ion-icon>
                            </button>

                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                    <!--<ion-item>
                        <div class="playerListContentLeft">
                            <img src="../../assets/images/ic_account_circle_black_24dp_2x.png" />
                        </div>
                        <div class="playerListContentRight">
                            Vorname: {{p.firstname}} <br> Nachname: {{p.lastname}} <br> Geburtstag: {{p.birthday}}
                        </div>
                    </ion-item>-->
                </div>
            </div>
        </ion-list>
    </div>
</ion-content>