.img_large{
    display: block;
    margin: 0 auto;
    width: 150px;
}

.card-title{
    text-align: center;
}

.section_details{
    padding-left: 20px;
    font-size: 15px;
}

.playerListContentRight{
    width: 75%;
    float: right;
    padding: 8px;
}

.playerListContentLeft{
    width: 25%;
    float: left;
}

.editPlayerButton{
    text-align: center;
}

.firstName-lastName{
    font-weight: bold;
}

.birthday-details{
    font-size: 16px;
    color: grey;
}

.profileImage {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.team-image {
    border-radius: 10rem;
    width: 12em;
    height: 12em;
  }

.playerItem-left{
    width: 20%;
    float: left;
}

.playerItem-right{   

    width: 80%;
    color: black;
    float: right;
    padding: 8px;
}

.thumbnail-matchday-top-left {
    width: 55px;
    height: 55px;
    border-top-left-radius: 100%;
    padding: 0;
    margin-bottom: 0px;
    margin-right: 0px;
}

.thumbnail-matchday-top-right {
    width: 55px;
    height: 55px;
    border-top-right-radius: 100%;
    padding: 0;
    margin-bottom: 0px;
}

.thumbnail-matchday-bottom-right {
    width: 55px;
    height: 55px;
    border-bottom-right-radius: 100%;
    padding: 0;
    margin-left: 0px;
}

.thumbnail-matchday-bottom-left {
    width: 55px;
    height: 55px;
    border-bottom-left-radius: 100%;
    padding: 0;
}

 .create-label{
     font-weight: bold;
      color:gray;
  }

  .data-label{
      text-align: right;
  }

  .team-inputs input{
      text-align: right;
  }