<ion-header>
  <ion-navbar>
    <ion-title>Profilbild ändern</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="picture-container">
    <img class="profile-image picture-border" src="assets/images/user-shape-256.png" *ngIf="!base64Image"/>
    <img class="profile-image picture-border" [src]="base64Image" *ngIf="base64Image"/>
  </div>

  <div class="picture-container">
    <button class="buttonApart" ion-button clear large icon-only color="yellow" (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </button>

    <button class="buttonApart" ion-button clear large icon-only color="yellow" (click)="getPicture()">
      <ion-icon name="images"></ion-icon>
    </button>
  </div>

  <div class="buttom-center">
    <button ion-button round outline (click)="uploadPicture()">
      Bestätigen
    </button>
    <br>
    <button ion-button round clear (click)="goToStartPage()">
      Später
    </button>
  </div>
</ion-content>
