<ion-header>
  <ion-navbar>
    <ion-title>Profilbild aufnehemn</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="pictureContainer">
    <img src="../../assets/images/ic_account_circle_black_48dp_2x.png" *ngIf="!base64Image" class="img-circle"/>
    <img class="img-circle" [src]="base64Image" *ngIf="base64Image" align="center"/>
  </div>

  <div class="pictureContainer">
    <button class="buttonApart" ion-button icon-only color="dark" (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </button>

    <button class="buttonApart" ion-button icon-only color="dark" (click)="getPicture()">
      <ion-icon name="images"></ion-icon>
    </button>
  </div>


  <button ion-button block (click)="uploadPicture()">
    Bestätigen
  </button>

  <button ion-button block clear (click)="goToStartPage()">
    Später
  </button>
</ion-content>
