<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button ion-button clear *ngIf="(!editMode)" (click)="goBack()">
        Zurück
      </button>
      <button ion-button *ngIf="(editMode)" (click)="cancelEditProfile()">Abbrechen</button>
    </ion-buttons>
    <ion-title>Spieledetails</ion-title>
    <ion-buttons right>
      <button *ngIf="(!editMode)" ion-button (click)="editProfile()">Bearbeiten
      </button>
      <button
        [disabled]="(!opponentChanged && !teamChanged && !homeChanged && !streetChanged && !zipcodeChanged && !timeChanged)"
        *ngIf="(editMode)" ion-button (click)="finishEditProfile()">Fertig
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="topContainer">
    <div class="pictureContainer">
      <div class="row">
        <div class="col">
          <img class="thumbnail-matchday-top-left-l" src="{{getFirstFourPicUrls(gameItem)[0]}}" onError="this.src='assets/images/ic_account_circle_black_48dp_2x.png'"/>
          <img class="thumbnail-matchday-top-right-l" src="{{getFirstFourPicUrls(gameItem)[1]}}" onError="this.src='assets/images/ic_account_circle_black_48dp_2x.png'"/>
        </div>
        <div class="col">
          <img class="thumbnail-matchday-bottom-left-l" src="{{getFirstFourPicUrls(gameItem)[2]}}" onError="this.src='assets/images/ic_account_circle_black_48dp_2x.png'"/>
          <img class="thumbnail-matchday-bottom-right-l" src="{{getFirstFourPicUrls(gameItem)[3]}}" onError="this.src='assets/images/ic_account_circle_black_48dp_2x.png'"/>
        </div>
      </div>
    </div>
    <div class="playerDataContainer">
      <ion-item *ngIf="(!editMode)">
        <ion-label class="playerLabel">Gegner:</ion-label>
        <ion-label class="playerValue">{{ gameItem.opponent }}</ion-label>
      </ion-item>
      <ion-item *ngIf="(editMode)">
        <ion-label color="primary" class="playerLabel">Gegner:</ion-label>
        <ion-input class="playerValue" #opponent [(ngModel)]="gameItem.opponent"
                  (input)="opponentEnteredChanged(opponent)"></ion-input>
      </ion-item>
      <ion-item *ngIf="(!editMode)">
        <ion-label class="playerLabel">Team:</ion-label>
        <ion-label class="playerValue">{{ gameItem.team | teams}}</ion-label>
      </ion-item>
      <ion-item *ngIf="(editMode)">
        <ion-label color="primary" class="playerLabel">Team:</ion-label>
        <ion-select class="playerValue" #team placeholder="Mannschaft" [(ngModel)]="gameItem.team"
                    placeholder="{{gameItem.team | teams}}"
                    (ionChange)="teamSelectChanged(gameItem.team)" doneText="Ok" cancelText="Abbrechen">
          <ion-option value=0>keine Mannschaft</ion-option>
          <ion-option *ngFor="let item of teamArray" value="{{item.id}}">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="(!editMode)">
        <ion-label class="playerLabel">Ort:</ion-label>
        <ion-label class="playerValue">
          <div *ngIf="gameItem.home == true">Heim</div>
          <div *ngIf="gameItem.home == false && gameItem.home != 'unknown'">Auswärts</div>
          <div *ngIf="gameItem.home == 'unknown'"><p>Heim/Auswärts</p></div>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="(editMode)">
        <ion-label color="primary" class="playerLabel">Ort:</ion-label>
        <ion-select class="playerValue" #home placeholder="Heim/Auswärts" [(ngModel)]="gameItem.home"
                    (ionChange)="homeSelectChanged(gameItem.home)" doneText="Ok" cancelText="Abbrechen">
          <ion-option value=true>Heim</ion-option>
          <ion-option value=false>Auswärts</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="(!editMode)">
        <ion-label class="playerLabel">Adresse:</ion-label>
        <ion-label class="playerValue">
          <div *ngIf="gameItem.location.street == ''"><p>Straße, Hausnr.</p></div>
          <div *ngIf="gameItem.location.street != ''">{{ gameItem.location.street }}</div>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="(!editMode)">
        <ion-label class="playerLabel">PLZ:</ion-label>
        <ion-label class="playerValue">
          <div *ngIf="gameItem.location.zipcode == ''"><p>PLZ</p></div>
          <div *ngIf="gameItem.location.zipcode != ''">{{ gameItem.location.zipcode }}</div>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="(editMode)">
        <ion-label color="primary" class="playerLabel">Adresse:</ion-label>
        <ion-input class="playerValue" #street [(ngModel)]="gameItem.location.street"
                  (input)="streetEnteredChanged(street)"></ion-input><br>
      </ion-item>
      <ion-item *ngIf="(editMode)">
        <ion-label color="primary" class="playerLabel">PLZ:</ion-label>
        <ion-input class="playerValue" #zipcode [(ngModel)]="gameItem.location.zipcode"
                  (input)="zipcodeSelectChanged(zipcode)"></ion-input>
      </ion-item>
      <ion-item *ngIf="(!editMode)">
        <ion-label class="playerLabel">Wann:</ion-label>
        <ion-label class="playerValue">
          <div *ngIf="gameItem.time == '0'"><p>Datum & Uhrzeit</p></div>
          <div *ngIf="gameItem.time != '0'">{{ gameItem.time | matchTime }}</div>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="(editMode)">
        <ion-label color="primary" class="playerLabel">Wann:</ion-label>
        <ion-datetime class="playerValue" #time displayFormat="DD.MM.YYYY, HH:mm" pickerFormat="DD MM YYYY HH mm"
                      [(ngModel)]="gameItem.time"
                      (ionChange)="timeSelectChanged(gameItem.date)"
                      doneText="Ok" cancelText="Abbrechen"></ion-datetime>
      </ion-item>
      <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="playerStatus">
          <ion-segment-button value="accepted">
            Zugesagt
          </ion-segment-button>
          <ion-segment-button value="pending">
            Offen
          </ion-segment-button>
          <ion-segment-button value="declined">
            Abgesagt
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </div>
  </div>
  <div [ngSwitch]="playerStatus">
    <ion-list *ngSwitchCase="'accepted'">
      <div *ngFor="let relevantPlayer of gameItem.acceptedPlayers">
        <div *ngFor="let player of playerArray">
          <div *ngIf="relevantPlayer == player.id">
            <ion-item (click)="openProfile(player)">
              <div class="itemPlayer">
                <div class="itemPlayerLeft">
                  <img id="profileImage" src="{{player.picUrl}}" class="profileImage" onError="this.src='assets/images/ic_account_circle_black_48dp_2x.png'" />
                </div>
                <div class="itemPlayerRight">
                  <div class="mainDetails">
                    {{ player.lastname }}, {{player.firstname}} <br/>
                  </div>
                  <div class="secondaryDetails">
                    {{player.team | teams}}
                  </div>
                </div>
              </div>
            </ion-item>
          </div>
        </div>
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'pending'">
      <div *ngFor="let relevantPlayer of gameItem.pendingPlayers">
        <div *ngFor="let player of playerArray">
          <div *ngIf="relevantPlayer == player.id">
            <ion-item (click)="openProfile(player)">
              <div class="itemPlayer">
                <div class="itemPlayerLeft">
                  <img id="profileImage" src="{{player.picUrl}}" class="profileImage" onError="this.src='assets/images/ic_account_circle_black_48dp_2x.png'" />
                </div>
                <div class="itemPlayerRight">
                  <div class="mainDetails">
                    {{ player.lastname }}, {{player.firstname}} <br/>
                  </div>
                  <div class="secondaryDetails">
                    {{player.team | teams}}
                  </div>
                </div>
              </div>
            </ion-item>
          </div>
        </div>
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'declined'">
      <div *ngFor="let relevantPlayer of gameItem.declinedPlayers">
        <div *ngFor="let player of playerArray">
          <div *ngIf="relevantPlayer == player.id">
            <ion-item (click)="openProfile(player)">
              <div class="itemPlayer">
                <div class="itemPlayerLeft">
                  <img id="profileImage" src="{{player.picUrl}}" class="profileImage" onError="this.src='assets/images/ic_account_circle_black_48dp_2x.png'" />
                </div>
                <div class="itemPlayerRight">
                  <div class="mainDetails">
                    {{ player.lastname }}, {{player.firstname}} <br/>
                  </div>
                  <div class="secondaryDetails">
                    {{player.team | teams}}
                  </div>
                </div>
              </div>
            </ion-item>
          </div>
        </div>
      </div>
    </ion-list>
  </div>
  <div class="pictureContainer">
    <button ion-button outline round color="secondary" *ngIf="(editMode)" (click)="addPlayers()"> 
      Spieler bearbeiten
    </button>
    <button ion-button outline round color="danger" *ngIf="(editMode)" (click)="deleteGame()"> 
      Spiel löschen
    </button>
  </div>
</ion-content>