<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button *ngIf="(!editMode)" ion-button (click)="goBack()" icon-only>
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
      <button ion-button *ngIf="(editMode)" (click)="cancelEditProfile()">Abbrechen</button>
    </ion-buttons>
    <ion-title>Spieledetails</ion-title>
    <ion-buttons right *ngIf="(isAdmin)">
      <button *ngIf="(!editMode)" ion-button (click)="editProfile()">Bearbeiten
      </button>
      <button
        [disabled]="(!opponentChanged && !teamChanged && !homeChanged && !streetChanged && !zipcodeChanged && !timeChanged  && !playersEdited)"
        *ngIf="(editMode)" ion-button (click)="finishEditProfile()">Fertig
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div>
    <div class="align-center">
      <div class="picture-container inline">
        <div class="thumbnail-pictures-big">
          <div>
            <img class="thumbnail-top-left-big" src="{{getFirstFourPicUrls(gameItem)[0]}}"
                 onError="this.src='assets/images/user-shape-64.png'"/>
            <img class="thumbnail-top-right-big" src="{{getFirstFourPicUrls(gameItem)[1]}}"
                 onError="this.src='assets/images/user-shape-64.png'"/>
          </div>
          <div class="bottom-thumbnail-row-big">
            <img class="thumbnail-bottom-left-big" src="{{getFirstFourPicUrls(gameItem)[2]}}"
                 onError="this.src='assets/images/user-shape-64.png'"/>
            <img class="thumbnail-bottom-right-big" src="{{getFirstFourPicUrls(gameItem)[3]}}"
                 onError="this.src='assets/images/user-shape-64.png'"/>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="((option == 1) || (option == 2)) && (!editMode)" class="align-center accept-decline-container">
      <button *ngIf="(option == 1)" ion-button round outline color="secondary" icon-left (click)="verifyAccept(inviteItem)" item-right>
        <ion-icon name='checkmark'></ion-icon>
          Zusagen
      </button>
      <button *ngIf="((option == 1) || (option == 2)) && (!editMode)" ion-button round outline color="danger" (click)="doRadio(inviteItem, 1)">
        <ion-icon name='close'></ion-icon>
          <p class="decline-button">Absagen</p>
      </button>
    </div>
    <div class="game-details-form right-form-inputs">
      <ion-item *ngIf="(!editMode)">
        <ion-label class="form-label">Gegner:</ion-label>
        <ion-label class="form-value">{{ gameItem.opponent }}</ion-label>
      </ion-item>
      <ion-item *ngIf="(editMode)">
        <ion-label color="primary">Gegner:</ion-label>
        <ion-input class="form-value" #opponent placeholder="Gegner" [(ngModel)]="gameItem.opponent"
                   (input)="opponentEnteredChanged(opponent)"></ion-input>
      </ion-item>
      <ion-item *ngIf="(!editMode)">
        <ion-label class="form-label">Team:</ion-label>
        <ion-label class="form-value">{{ gameItem.team | teams}}</ion-label>
      </ion-item>
      <ion-item *ngIf="(editMode)">
        <ion-label color="primary">Team:</ion-label>
        <ion-select class="form-value" #team placeholder="Mannschaft" [(ngModel)]="gameItem.team"
                    placeholder="{{gameItem.team | teams}}"
                    (ionChange)="teamSelectChanged(gameItem.team)" doneText="Ok" cancelText="Abbrechen">
          <ion-option value=0>keine Mannschaft</ion-option>
          <ion-option *ngFor="let item of teamArray" value="{{item.id}}">
            {{item.name}}
            <div *ngIf="item.ageLimit==0">(Erw.,</div>
            <div *ngIf="item.ageLimit!=0">(U{{item.ageLimit}},</div>
             {{item.rank}})
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="(!editMode)">
        <ion-label class="form-label">Ort:</ion-label>
        <ion-label class="form-value">
          <div *ngIf="gameItem.home == true">Heim</div>
          <div *ngIf="gameItem.home == false && gameItem.home != 'unknown'">Auswärts</div>
          <div *ngIf="gameItem.home == 'unknown'"><p>Heim/Auswärts</p></div>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="(editMode)">
        <ion-label color="primary">Ort:</ion-label>
        <ion-select class="form-value" #home placeholder="Heim/Auswärts" [(ngModel)]="gameItem.home"
                    (ionChange)="homeSelectChanged(gameItem.home)" doneText="Ok" cancelText="Abbrechen">
          <ion-option value=true>Heim</ion-option>
          <ion-option value=false>Auswärts</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="(!editMode)">
        <ion-label class="form-label">Adresse:</ion-label>
        <ion-label class="form-value">
          <div *ngIf="gameItem.location.street == ''"><p>Straße, Hausnr.</p></div>
          <div *ngIf="gameItem.location.street != ''">{{ gameItem.location.street }}</div>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="(!editMode)">
        <ion-label class="form-label">PLZ, Stadt:</ion-label>
        <ion-label class="form-value">
          <div *ngIf="gameItem.location.zipcode == ''"><p>PLZ, Stadt</p></div>
          <div *ngIf="gameItem.location.zipcode != ''">{{ gameItem.location.zipcode }}</div>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="(editMode)">
        <ion-label color="primary">Adresse:</ion-label>
        <ion-input class="form-value" #street placeholder="Straße, Hausnr." [(ngModel)]="gameItem.location.street"
                   (input)="streetEnteredChanged(street)"></ion-input>
        <br>
      </ion-item>
      <ion-item *ngIf="(editMode)">
        <ion-label color="primary">PLZ, Stadt:</ion-label>
        <ion-input class="form-value" #zipcode placeholder="PLZ, Stadt" [(ngModel)]="gameItem.location.zipcode"
                   (input)="zipcodeSelectChanged(zipcode)"></ion-input>
      </ion-item>
      <ion-item *ngIf="(!editMode)">
        <ion-label class="form-label">Wann:</ion-label>
        <ion-label class="form-value">
          <div *ngIf="gameItem.time == '0'"><p>Datum & Uhrzeit</p></div>
          <div *ngIf="gameItem.time != '0'">{{ gameItem.time | matchTime }}</div>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="(editMode)">
        <ion-label color="primary">Wann:</ion-label>
        <ion-datetime class="form-value" #time displayFormat="DD.MM.YYYY, HH:mm" pickerFormat="DD MM YYYY HH mm"
                      [(ngModel)]="gameItem.time"
                      (ionChange)="timeSelectChanged(gameItem.time)"
                      doneText="Ok" cancelText="Abbrechen"></ion-datetime>
      </ion-item>
    </div>

    <div *ngIf="(editMode && isAdmin)" class="edit-players-button-container">
      <button ion-button small outline color="primary" (click)="openTemplatesActionSheet()" icon-left item-right>
        <ion-icon name="map"></ion-icon>
        Adressvorlagen
      </button>
    </div>

    <div *ngFor="let team of teamArray">
      <div *ngIf="team.id == gameItem.team">
        <div *ngIf="team.type == 'Normal'">
          <ion-list-header class="align-center">Checkliste Normal</ion-list-header>
          <ion-item icon-left>
            <div class="itemLeft">
              <ion-icon color="secondary" *ngIf="acceptedCounter >= 6" name="checkmark-circle"></ion-icon>
              <ion-icon color="danger" *ngIf="acceptedCounter < 6" name="close-circle"></ion-icon>
            </div>
            <div class="itemRight white-font">6 Spieler aufgestellt</div>
          </ion-item>
          <ion-item icon-left>
            <div class="itemLeft">
              <ion-icon color="secondary" *ngIf="acceptedMaleCounter >= 4" name="checkmark-circle"></ion-icon>
              <ion-icon color="danger" *ngIf="acceptedMaleCounter < 4" name="close-circle"></ion-icon>
            </div>
            <div class="itemRight white-font">4 Männer aufgestellt</div>
          </ion-item>
          <ion-item icon-left>
            <div class="itemLeft">
              <ion-icon color="secondary" *ngIf="acceptedFemaleCounter >= 2" name="checkmark-circle"></ion-icon>
              <ion-icon color="danger" *ngIf="acceptedFemaleCounter < 2" name="close-circle"></ion-icon>
            </div>
            <div class="itemRight white-font">2 Frauen aufgestellt</div>
          </ion-item>
        </div>
        <div *ngIf="team.type == 'Mini'">
          <ion-list-header class="align-center">Checkliste  Mini</ion-list-header>
          <ion-item icon-left>
            <div class="itemLeft">
              <ion-icon color="secondary" *ngIf="acceptedCounter >= 4" name="checkmark-circle"></ion-icon>
              <ion-icon color="danger" *ngIf="acceptedCounter < 4" name="close-circle"></ion-icon>
            </div>
            <div class="itemRight white-font">4 Spieler aufgestellt</div>
          </ion-item>
        </div>
      </div>
    </div>

    <ion-list-header class="align-center">Spieler</ion-list-header>
    <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="playerStatus">
        <ion-segment-button value="accepted">
          Zugesagt
        </ion-segment-button>
        <ion-segment-button value="pending">
          Offen
        </ion-segment-button>
        <ion-segment-button value="declined">
          Abgesagt
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </div>
  <div [ngSwitch]="playerStatus">
    <ion-list class="players-list" *ngSwitchCase="'accepted'">
      <div *ngFor="let relevantPlayer of acceptedArray">
        <div *ngFor="let player of playerArray">
          <div *ngIf="player.deleted==false">
            <div *ngIf="relevantPlayer == player.id">
              <ion-item class="less-label-margin">
                <div>
                  <div class="itemPlayerLeft">
                    <img src="{{player.picUrl}}" class="player-item-image picture-click"
                         (click)="this.Utilities.openProfile(player, this.navCtrl)"
                         onError="this.src='assets/images/user-shape-64.png'"/>
                  </div>
                  <div class="itemPlayerRight">
                    <div class="mainDetails">
                      {{ player.lastname }}, {{player.firstname}}
                      <button *ngIf="editMode"
                              class="player-item-button" ion-button round outline icon-only color="danger"
                              (click)="removePlayer(player)">
                        <ion-icon name="remove"></ion-icon>
                      </button>
                    </div>
                    <div class="secondaryDetails">
                      {{player.team | teams}} <br/>
                      {{player.birthday | birthday}}
                    </div>
                  </div>
                </div>
              </ion-item>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="acceptedCounter == 0">
        <ion-label class="align-center no-items">Keine Spieler eingetragen</ion-label>
      </div>
    </ion-list>
    <ion-list class="players-list" *ngSwitchCase="'pending'">
      <div *ngFor="let relevantPlayer of pendingArray">
        <div *ngFor="let player of playerArray">
          <div *ngIf="player.deleted==false">
            <div *ngIf="relevantPlayer == player.id">
              <ion-item class="less-label-margin">
                <div>
                  <div class="itemPlayerLeft">
                    <img src="{{player.picUrl}}" class="player-item-image picture-click"
                         (click)="this.Utilities.openProfile(player, this.navCtrl)"
                         onError="this.src='assets/images/user-shape-64.png'"/>
                  </div>
                  <div class="itemPlayerRight">
                    <div class="mainDetails">
                      {{ player.lastname }}, {{player.firstname}}
                      <button *ngIf="editMode"
                              class="player-item-button" ion-button round outline icon-only color="danger"
                              (click)="removePlayer(player)">
                        <ion-icon name="remove"></ion-icon>
                      </button>
                    </div>
                    <div class="secondaryDetails">
                      {{player.team | teams}} <br/>
                      {{player.birthday | birthday}}
                    </div>
                  </div>
                </div>
              </ion-item>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="pendingCounter == 0">
        <ion-label class="align-center no-items">Keine Spieler eingetragen</ion-label>
      </div>
    </ion-list>
    <ion-list class="players-list" *ngSwitchCase="'declined'">
      <div *ngFor="let relevantPlayer of declinedArray">
        <div *ngFor="let player of playerArray">
          <div *ngIf="player.deleted==false">
            <div *ngIf="relevantPlayer == player.id">
              <ion-item class="less-label-margin">
                <div>
                  <div class="itemPlayerLeft">
                    <img src="{{player.picUrl}}" class="player-item-image picture-click"
                         (click)="this.Utilities.openProfile(player, this.navCtrl)"
                         onError="this.src='assets/images/user-shape-64.png'"/>
                  </div>
                  <div class="itemPlayerRight">
                    <div class="mainDetails">
                      {{ player.lastname }}, {{player.firstname}}
                      <button *ngIf="editMode"
                              class="player-item-button" ion-button round outline icon-only color="danger"
                              (click)="removePlayer(player)">
                        <ion-icon name="remove"></ion-icon>
                      </button>
                    </div>
                    <div class="secondaryDetails">
                      {{player.team | teams}} <br/>
                      {{player.birthday | birthday}}
                    </div>
                  </div>
                </div>
              </ion-item>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="declinedCounter == 0">
        <ion-label class="align-center no-items">Keine Spieler eingetragen</ion-label>
      </div>
    </ion-list>
  </div>

  <div *ngIf="(editMode && isAdmin)" class="edit-players-button-container">
    <button class="button-width" ion-button outline round color="secondary" icon-left (click)="addPlayers()">
      <ion-icon name="add"></ion-icon>
      Spieler einladen
    </button>
    <button class="button-width" ion-button outline round color="danger" icon-left
            (click)="deleteGame()">
      <ion-icon name="close"></ion-icon>
      Spiel löschen
    </button>
  </div>

</ion-content>
