page-gameDetails {
  .game-details-form {
    margin-bottom: 32px;
  }
  .picture-click:active {
    opacity: 0.5;
  }
}

.accept-decline-container{
  padding-top: 10px;
  padding-bottom: 2px;
}

.decline-button{
  padding-left: 6px;
}

.templates-alert .alert-wrapper {
  max-width: initial;
}
