<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Spieldetails</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="topContainer">
    <div class="pictureContainer">
      <img src="assets/images/ic_account_circle_black_48dp_2x.png" />
    </div>
    <div class="playerDataContainer">
      <ion-item>
        <ion-label class="playerLabel">Gegner:</ion-label>
        <ion-label class="playerValue">{{ gameItem.opponent }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="playerLabel">Team:</ion-label>
        <ion-label class="playerValue">{{ gameItem.team | teams}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="playerLabel">Ort:</ion-label>
        <ion-label class="playerValue">
          <div *ngIf="gameItem.home == true">Heim</div>
          <div *ngIf="gameItem.home == false">Auswärts</div>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="playerLabel">Adresse:</ion-label>
        <ion-label class="playerValue">{{ gameItem.location.street }}<br>{{ gameItem.location.zipcode }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="playerLabel">Wann:</ion-label>
        <ion-label class="playerValue">{{ gameItem.time | matchTime}}</ion-label>
      </ion-item>
      <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="playerStatus">
          <ion-segment-button value="accepted">
            Zugesagt
          </ion-segment-button>
          <ion-segment-button value="pending">
            Offen
          </ion-segment-button>
          <ion-segment-button value="declined">
            Abgesagt
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </div>
  </div>
  <div [ngSwitch]="playerStatus">
    <ion-list *ngSwitchCase="'accepted'">
      <div *ngFor="let item of gameItem.acceptedPlayers">
      <ion-item (click)="checkItem(item)">{{item | player}}</ion-item></div>
    </ion-list>
    <ion-list *ngSwitchCase="'pending'">
      <div *ngFor="let item of gameItem.pendingPlayers">
      <ion-item>{{item | player}}</ion-item></div>
    </ion-list>
    <ion-list *ngSwitchCase="'declined'">
      <div *ngFor="let item of gameItem.declinedPlayers">
      <ion-item>{{item | player}}</ion-item></div>
    </ion-list>
  </div>
</ion-content>