<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button ion-button (click)="goBack()" icon-only>
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Profil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <div class="picture-container">
      <img class="profile-image picture-border" src="{{player.picUrl}}" onError="this.src='assets/images/user-shape-256.png'" />
    </div>
    <div class="playerDataContainer">
      <ion-item>
        <ion-label class="playerLabel">Name:</ion-label>
        <ion-label class="playerValue">{{player.firstname}} {{player.lastname}}</ion-label>
      </ion-item>
      <ion-item *ngIf="(utilities.userData.isTrainer)">
        <ion-label class="playerLabel">E-Mail:</ion-label>
        <ion-label class="playerValue">{{player.email}}</ion-label>
      </ion-item>
      <ion-item *ngIf="(utilities.userData.isTrainer)">
        <ion-label class="playerLabel">Geburtsdatum:</ion-label>
        <ion-label class="playerValue">{{player.birthday | birthday}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="playerLabel">Geschlecht:</ion-label>
        <ion-label class="playerValue">{{player.gender | gender}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="playerLabel">Mannschaft:</ion-label>
        <ion-label class="playerValue">{{player.team | teams}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="playerLabel">Anzahl Aushilfen:</ion-label>
        <ion-label class="playerValue">{{player.helpCounter}}</ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>
