// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  blue:       #387ef5,
  primary:    #ff8c00,
  secondary:  #32db64,
  danger:     #f53d3d,
  yellow:     #FFF200,
  light:      #f4f4f4,
  dark:       #222
);

$dark-shade: #1B211F;
$secondary-dark-shade: #2A2E2E;
$third-dark-shade: #909494;
$yellow-shade: #FFF200;
$orange-shade: #ff8c00;
//$orange-shade: #FCA233;
//$orange-shade: #C96F00;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$toolbar-ios-background: $dark-shade;
$toolbar-ios-button-color: $yellow-shade;

$segment-button-ios-background-color-activated: $yellow-shade;
$segment-button-ios-background-color: $dark-shade;

$fab-ios-list-button-background-color-activated: $yellow-shade;

$list-ios-header-color: white;

$searchbar-ios-input-clear-icon-color: $third-dark-shade;
$searchbar-ios-input-placeholder-color: white;
$searchbar-ios-input-search-icon-color: $third-dark-shade;
$searchbar-ios-input-text-color: white;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$toolbar-md-background: $dark-shade;
$toolbar-md-button-color: $yellow-shade;

$segment-button-md-border-color-activated: $yellow-shade;
$segment-button-md-text-color-activated: $yellow-shade;

$fab-md-list-button-background-color-activated: $yellow-shade;

$list-md-header-color: white;
$list-md-border-color: $yellow-shade;

$searchbar-md-input-clear-icon-color: $third-dark-shade;
$searchbar-md-input-placeholder-color: $third-dark-shade;
$searchbar-md-input-search-icon-color: $third-dark-shade;
$searchbar-md-input-text-color: white;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

$background-color: $secondary-dark-shade;
//$background-color: #5D6161;

$list-text-color: white;
//$list-text-color: black;

$list-background-color: $secondary-dark-shade;
//$list-background-color: #5D6161;

$list-border-color: $yellow-shade;
$toolbar-border-color: $yellow-shade;
$refresher-border-color: #B3A600;

$fab-list-button-background-color: $yellow-shade;

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
