<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button ion-button clear (click)="goBack()">
        Zurück
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button  ion-button (click)="confirmPlayer()">Fertig
      </button>
    </ion-buttons>
    <ion-title>Spieler hinzufügen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label stacked>Mannschaft</ion-label>
    <ion-select [(ngModel)]="teamSelection" placeholder="{{match.team | teams}}">
      <ion-option value="0">keine Mannschaft</ion-option>
      <ion-option *ngFor="let item of relevantTeams" value="{{item.id}}">{{item.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-toolbar>
      <ion-segment [(ngModel)]="geschlecht" color="secondary">
          <ion-segment-button value="maenner">
              Männer
          </ion-segment-button>
          <ion-segment-button value="frauen">
              Frauen
          </ion-segment-button>
      </ion-segment>
  </ion-toolbar>
  <ion-list>
    <div [ngSwitch]="geschlecht">
      <ion-list *ngSwitchCase="'maenner'">
        <div *ngFor="let item of allPlayers">   
          <div *ngIf="item.team==teamSelection">
            <div *ngIf="item.gender=='m'">
              <ion-item>
                <div item-left>
                  <img id="profileImage" src="{{item.picUrl}}" class="profileImage" onError="this.src='assets/images/ic_account_circle_black_48dp_2x.png'" />
                </div>
                <div>
                  <div class="mainDetails">
                    {{ item.lastname }}, {{item.firstname}} <br/>
                  </div>
                  <div class="secondaryDetails">
                    {{item.birthday | birthday}}
                  </div>
                </div>
                <button ion-button round item-right *ngIf="item.accepted==false && item.pending==false && item.declined==false" color="secondary" (click)="addPlayer(item)"><ion-icon name="add"></ion-icon></button>
                <button ion-button round item-right *ngIf="item.accepted==true || item.pending==true || item.declined==true" color="danger" (click)="removePlayer(item)"><ion-icon name="close"></ion-icon></button>
              </ion-item>
            </div>
          </div>      
        </div>
      </ion-list>
      <ion-list *ngSwitchCase="'frauen'">
        <div *ngFor="let item of allPlayers">
          <div *ngIf="item.team==teamSelection">
            <div *ngIf="item.gender=='f'">
              <ion-item>
                <div item-left>
                  <img id="profileImage" src="{{item.picUrl}}" class="profileImage" onError="this.src='assets/images/ic_account_circle_black_48dp_2x.png'" />
                </div>
                <div>
                  <div class="mainDetails">
                    {{ item.lastname }}, {{item.firstname}} <br/>
                  </div>
                  <div class="secondaryDetails">
                    {{item.birthday | birthday}}
                  </div>
                </div>
                <button ion-button round item-right *ngIf="item.accepted==false && item.pending==false && item.declined==false" color="secondary" (click)="addPlayer(item)"><ion-icon name="add"></ion-icon></button>
                <button ion-button round item-right *ngIf="item.accepted==true || item.pending==true || item.declined==true" color="danger" (click)="removePlayer(item)"><ion-icon name="close"></ion-icon></button>
              </ion-item>
            </div>
          </div>
        </div>
      </ion-list>
      </div>
  </ion-list>
</ion-content>