<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button ion-button clear (click)="goBack()">
        Zurück
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button *ngIf="!editMode" ion-button (click)="confirmPlayer()">Fertig
      </button>
    </ion-buttons>
    <ion-title>Spieler hinzufügen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label stacked>Mannschaft</ion-label>
    <ion-select [(ngModel)]="teamSelection" placeholder="{{match.team | teams}}">
      <ion-option value="0">keine Mannschaft</ion-option>
      <ion-option *ngFor="let item of relevantTeams" value="{{item.id}}">{{item.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-toolbar>
    <ion-segment [(ngModel)]="geschlecht">
      <ion-segment-button value="maenner">
        Männer
      </ion-segment-button>
      <ion-segment-button value="frauen">
        Frauen
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <div [ngSwitch]="geschlecht">
    <ion-list *ngSwitchCase="'maenner'">
      <div *ngFor="let item of allPlayers">
        <div *ngIf="item.team==teamSelection">
          <div *ngIf="item.gender=='m'">
            <ion-item>
              <div>
                <div class="itemPlayerLeft">
                  <img src="{{item.picUrl}}" class="player-item-image"
                       onError="this.src='assets/images/user-shape-64.png'"/>
                </div>
                <div class="itemPlayerRight">
                  <div class="mainDetails">
                    {{ item.lastname }}, {{item.firstname}}
                    <button *ngIf="item.accepted==false && item.pending==false && item.declined==false"
                            class="player-item-button" ion-button round outline icon-only color="secondary"
                            (click)="addPlayer(item)">
                      <ion-icon name="add"></ion-icon>
                    </button>
                    <button *ngIf="item.accepted==true || item.pending==true || item.declined==true"
                            class="player-item-button" ion-button round outline icon-only color="danger"
                            (click)="removePlayer(item)">
                      <ion-icon name="remove"></ion-icon>
                    </button>
                  </div>
                  <div class="secondaryDetails">
                    {{item.birthday | birthday}}
                  </div>
                </div>
              </div>
            </ion-item>
          </div>
        </div>
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'frauen'">
      <div *ngFor="let item of allPlayers">
        <div *ngIf="item.team==teamSelection">
          <div *ngIf="item.gender=='f'">
            <ion-item>
              <div>
                <div class="itemPlayerLeft">
                  <img src="{{item.picUrl}}" class="player-item-image"
                       onError="this.src='assets/images/user-shape-64.png'"/>
                </div>
                <div class="itemPlayerRight">
                  <div class="mainDetails">
                    {{ item.lastname }}, {{item.firstname}}
                    <button *ngIf="item.accepted==false && item.pending==false && item.declined==false"
                            class="player-item-button" ion-button round outline icon-only color="secondary"
                            (click)="addPlayer(item)">
                      <ion-icon name="add"></ion-icon>
                    </button>
                    <button *ngIf="item.accepted==true || item.pending==true || item.declined==true"
                            class="player-item-button" ion-button round outline icon-only color="danger"
                            (click)="removePlayer(item)">
                      <ion-icon name="remove"></ion-icon>
                    </button>
                  </div>
                  <div class="secondaryDetails">
                    {{item.birthday | birthday}}
                  </div>
                </div>
              </div>
            </ion-item>
          </div>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>
