<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button ion-button clear (click)="goBack()">
        Zurück
      </button>
    </ion-buttons>
    <ion-title center>Erstelle Spiel</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="topContainer">
    <div class="playerDataContainer">
        <form class="center-form" [formGroup]="createMatchdayForm" novalidate>
        <ion-item>
          <ion-label stacked>Gegner</ion-label>
          <ion-input #opponent formControlName="opponent" [(ngModel)]="match.opponent"
                    (input)="elementChanged(opponent)" placeholder="Gegner"
                    [class.invalid]="!createMatchdayForm.controls.opponent.valid && opponentChanged"></ion-input>
        </ion-item>
        <ion-item>
        <ion-label stacked>Mannschaft</ion-label>
        <ion-select #team formControlName="team" placeholder="Mannschaft" [(ngModel)]="match.team"
                      placeholder="Mannschaft"
                      (ionChange)="teamSelectChanged()" doneText="Ok" cancelText="Abbrechen">
          <ion-option value=0>keine Mannschaft</ion-option>
          <ion-option *ngFor="let item of relevantTeams" value="{{item.id}}">{{item.name}}</ion-option>
        </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>Ort</ion-label>
            <ion-select #home formControlName="home" placeholder="Heim/Auswärts" [(ngModel)]="match.home"
                      (ionChange)="homeSelectChanged()" doneText="Ok" cancelText="Abbrechen">
              <ion-option value=true>Heim</ion-option>
              <ion-option value=false>Auswärts</ion-option>
            </ion-select> 
        </ion-item>
        <ion-item>
          <ion-label stacked>Adresse</ion-label>
          <ion-input #street formControlName="street" [(ngModel)]="match.location.street"
                    (input)="elementChanged(street)" placeholder="Straße und Hausnummer"
                    [class.invalid]="!createMatchdayForm.controls.street.valid && streetChanged"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>PLZ</ion-label>
          <ion-input #zipcode formControlName="zipcode" [(ngModel)]="match.location.zipcode"
                    (input)="zipcodeSelectChanged()" placeholder="PLZ"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Datum & Uhrzeit</ion-label>
          <ion-datetime #time formControlName="time" displayFormat="DD.MM.YYYY, HH:mm" pickerFormat="DD MM YYYY HH mm"
                        [(ngModel)]="match.time"
                        (ionChange)="timeSelectChanged()"
                        doneText="Ok" cancelText="Abbrechen"></ion-datetime>
        </ion-item>
      </form>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="pictureContainer">
    <button ion-button outline round color="secondary" (click)="createGame()"> 
      Spiel erstellen
    </button>
  </div>
</ion-footer>