<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button ion-button (click)="goBack()" icon-only>
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title center>Erstelle Spiel</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="topContainer">
    <div class="playerDataContainer">
        <form class="center-form" [formGroup]="createMatchdayForm" novalidate>
        <ion-item>
          <ion-label stacked>Gegner</ion-label>
          <ion-input #opponent formControlName="opponent" [(ngModel)]="match.opponent"
                    (input)="elementChanged(opponent)" placeholder="Gegner"
                    [class.invalid]="!createMatchdayForm.controls.opponent.valid && opponentChanged"></ion-input>
        </ion-item>
        <ion-item>
        <ion-label stacked>Mannschaft</ion-label>
        <ion-select #team formControlName="team" placeholder="Mannschaft" [(ngModel)]="match.team"
                      placeholder="Mannschaft"
                      (ionChange)="teamSelectChanged()" doneText="Ok" cancelText="Abbrechen">
          <ion-option value=0>keine Mannschaft</ion-option>
          <ion-option *ngFor="let item of relevantTeams" value="{{item.id}}">
            {{item.name}}
            <div *ngIf="item.ageLimit==0">(Erw.,</div>
            <div *ngIf="item.ageLimit!=0">(U{{item.ageLimit}},</div>
            S{{item.sclass}})
          </ion-option>
        </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>Ort</ion-label>
            <ion-select #home formControlName="home" placeholder="Heim/Auswärts" [(ngModel)]="match.home"
                      (ionChange)="homeSelectChanged()" doneText="Ok" cancelText="Abbrechen">
              <ion-option value=true>Heim</ion-option>
              <ion-option value=false>Auswärts</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>Adresse</ion-label>
          <ion-input #street formControlName="street" [(ngModel)]="match.location.street"
                    (input)="elementChanged(street)" placeholder="Straße und Hausnummer"
                    [class.invalid]="!createMatchdayForm.controls.street.valid && streetChanged"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>PLZ</ion-label>
          <ion-input #zipcode formControlName="zipcode" [(ngModel)]="match.location.zipcode"
                    (input)="zipcodeSelectChanged()" placeholder="PLZ"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Datum & Uhrzeit</ion-label>
          <ion-datetime #time formControlName="time" displayFormat="DD.MM.YYYY, HH:mm" pickerFormat="DD MM YYYY HH mm"
                        [(ngModel)]="match.time"
                        (ionChange)="timeSelectChanged()"
                        doneText="Ok" cancelText="Abbrechen"></ion-datetime>
        </ion-item>
      </form>
      <div class ="align-center">
        <button ion-button small outline color="secondary" (click)="showTemplates()" icon-left item-right>
          <ion-icon name="arrow-dropright"></ion-icon>
          Adressvorlagen
        </button>
        <button ion-button small outline color="secondary" (click)="editTemplates()" icon-only item-right>
          <ion-icon name="settings"></ion-icon>
        </button>
      </div>
      <ion-item class="createGameButtonContainer">
        <ion-checkbox  [(ngModel)]="templateChecked" color="primary"></ion-checkbox>
        <ion-label>Adresse als Vorlage speichern</ion-label>
      </ion-item>
    </div>
  </div>

  <div class="bottomContainer">
    <button ion-button outline icon-left round color="secondary" (click)="createGame()">
      <ion-icon name="add"></ion-icon>
      Spiel erstellen
    </button>
  </div>
</ion-content>
