<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title center>Spieltage</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngFor="let item of dataGames">
      <ion-item>
        <ion-thumbnail item-left>
          <img src="assets/img/TSV Heimaterde.png">
        </ion-thumbnail>
        <p>{{ item.time }}</p>
        <p>{{ item.opponent }}</p>
        <p>{{ item.home }}</p>
      </ion-item>
    </div>
</ion-content>

