<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Benutzerverwaltung</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="geschlecht">
      <ion-segment-button value="maenner">
        Männer
      </ion-segment-button>
      <ion-segment-button value="frauen">
        Frauen
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="geschlecht">
    <ion-list *ngSwitchCase="'maenner'">
      <div *ngFor="let item of dataPlayer; let i = index;">
        <div *ngIf="item.gender == 'm'">
          <ion-item (click)="openEditor($event, item)">
            <div class="itemPlayer">
              <div class="itemPlayerLeft">
                <img id="profileImage" src="{{item.picUrl}}" class="profileImage" onError="this.src='assets/images/ic_account_circle_black_48dp_2x.png'" />
              </div>
              <div class="itemPlayerRight">
                <div class="mainDetails">
                  {{ item.lastname }}, {{item.firstname}} <br/>
                </div>
                <div class="secondaryDetails">
                  Mannschaft: {{item.team | teams}}, Geb.: {{item.birthday | birthday}}
                </div>
              </div>
            </div>
          </ion-item>
        </div>
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'frauen'">
      <div *ngFor="let item of dataPlayer; let i = index;">
        <div *ngIf="item.gender == 'f'">
          <ion-item (click)="openEditor($event, item)">
            <div class="itemPlayer">
              <div class="itemPlayerLeft">
                <img src="{{item.picUrl}}" class="profileImage" onError="this.src='assets/images/ic_account_circle_black_48dp_2x.png'" />
              </div>
              <div class="itemPlayerRight">
                <div class="mainDetails">
                  {{ item.lastname }}, {{item.firstname}} <br/>
                </div>
                <div class="secondaryDetails">
                  Mannschaft: {{item.team | teams}}, Geb.: {{item.birthday | birthday}}
                </div>
              </div>
            </div>
          </ion-item>
        </div>
      </div>
    </ion-list>
  </div>

</ion-content>