<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title center>Meine Spiele</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-bottom>
    <ion-segment [(ngModel)]="gameStatus">
      <ion-segment-button value="vergangende">
        Vergangende
      </ion-segment-button>
      <ion-segment-button value="bevorstehende">
        Bevorstehende
      </ion-segment-button>
      <ion-segment-button value="offene">
        Offene
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="gameStatus">
    <ion-list *ngSwitchCase="'vergangende'">
      <div *ngFor="let inviteItem of dataInvites">
        <div *ngIf="inviteItem.recipient == loggedInUserID && inviteItem.state == 1">
          <div *ngFor="let gameItem of dataGames">
            <div *ngIf="inviteItem.match == gameItem.id">
              <ion-item (click)="openDetails($event, gameItem)">
                <ion-thumbnail item-left>
                  <img src="assets/img/TSV Heimaterde.png">
                </ion-thumbnail>
                <p>{{ gameItem.time | matchTime}}</p>
                <p>{{ gameItem.opponent }}</p>
                <div *ngIf="gameItem.home == true"><p>Heim</p></div>
                <div *ngIf="gameItem.home == false"><p>Auswärts</p></div>
              </ion-item>
            </div>
          </div>
        </div>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'bevorstehende'">
      <div *ngFor="let inviteItem of dataInvites">
        <div *ngIf="inviteItem.recipient == loggedInUserID && inviteItem.state == 1">
          <div *ngFor="let gameItem of dataGames">
            <div *ngIf="inviteItem.match == gameItem.id">
              <ion-item (click)="openDetails($event, gameItem)">
                <ion-thumbnail item-left>
                  <img src="assets/img/TSV Heimaterde.png">
                </ion-thumbnail>
                <p>{{ gameItem.time | matchTime}}</p>
                <p>{{ gameItem.opponent }}</p>
                <div *ngIf="gameItem.home == true"><p>Heim</p></div>
                <div *ngIf="gameItem.home == false"><p>Auswärts</p></div>
              </ion-item>
              <ion-item>
                <button ion-button color="danger" icon-left (click)="doRadio(inviteItem, 1)" item-right>
                <ion-icon name='close'></ion-icon>
                  Absagen
                </button>
              </ion-item>
            </div>
          </div>
        </div>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'offene'">
      <div *ngFor="let inviteItem of dataInvites">
        <div *ngIf="inviteItem.recipient == loggedInUserID && inviteItem.state == 0">
          <div *ngFor="let gameItem of dataGames">
            <div *ngIf="inviteItem.match == gameItem.id">
            
              <ion-item (click)="openDetails($event, gameItem)">
                <ion-thumbnail item-left>
                  <img src="assets/img/TSV Heimaterde.png">
                </ion-thumbnail>
                <p>{{ gameItem.time | matchTime}}</p>
                <p>{{ gameItem.opponent }}</p>
                <div *ngIf="gameItem.home == true"><p>Heim</p></div>
                <div *ngIf="gameItem.home == false"><p>Auswärts</p></div>
              </ion-item>
              <ion-item>
                <button ion-button color="secondary" icon-left (click)="verifyAccept(inviteItem)" item-right>
                <ion-icon name='checkmark'></ion-icon>
                  Zusagen
                </button>
                <button ion-button color="danger" icon-left (click)="doRadio(inviteItem, 0)" item-right>
                <ion-icon name='close'></ion-icon>
                  Absagen
                </button>
              </ion-item>

            </div>
          </div>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>