<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button  ion-button (click)="navigateBackToList()">
        Abbrechen
    </button>
    </ion-buttons>
    <ion-title>Benutzerverwaltung</ion-title>
    <ion-buttons right>
      <button ion-button [disabled]="!isChanged" (click)="changeRole($event, player)">
         Fertig
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="topContainer">
    <div class="pictureContainer">
      <img src="assets/images/ic_account_circle_black_48dp_2x.png" />
    </div>
    <div class="playerDataContainer">
      <ion-item>
        <ion-label class="playerLabel">Name:</ion-label>
        <ion-label class="playerValue">{{player.firstname}} {{player.lastname}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="playerLabel">E-Mail:</ion-label>
        <ion-label class="playerValue">{{player.email}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="playerLabel">Geburtstag:</ion-label>
        <ion-label class="playerValue">{{player.birthday}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="playerLabel">Mannschaft:</ion-label>
        <ion-label class="playerValue">{{player.team}}</ion-label>
      </ion-item>
    </div>
  </div>
  <div class="bottomContainer">
    <div class="changeRoleContainer">
      <ion-item>
        <ion-checkbox [(ngModel)]="player.isPlayer" class="myChk" (ionChange)="changeValue($ev)"></ion-checkbox>
        <ion-label>Spieler</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox [(ngModel)]="player.isTrainer" class="myChk" (ionChange)="changeValue($ev)"></ion-checkbox>
        <ion-label>Trainer</ion-label>
      </ion-item>
    </div>
    <div class="saveButtonContainer">
      <button icon-left ion-button outline round color="danger" (click)="showConfirm($ev, player)"> 
        <ion-icon name="close" md="md-close"></ion-icon>
        Benutzer löschen
      </button>
    </div>
  </div>

</ion-content>