<ion-header>
  <ion-navbar>
    <ion-title>Benutzerverwaltung</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="topContainer">
    <div class="pictureContainer">
      <img src="../../assets/images/ic_account_circle_black_48dp_2x.png" />
    </div>
    <div class="playerDataContainer">
      <ion-item>
        <ion-label class="playerLabel">Name:</ion-label>
        <ion-label class="playerValue">{{player.firstname}} {{player.lastname}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="playerLabel">E-Mail:</ion-label>
        <ion-label class="playerValue">{{player.email}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="playerLabel">Geburtstag:</ion-label>
        <ion-label class="playerValue">{{player.birthday}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="playerLabel">Mannschaft:</ion-label>
        <ion-label class="playerValue">{{player.team}}</ion-label>
      </ion-item>
    </div>
  </div>
  <div class="bottomContainer">
    <div class="labelRoleContainer">
      <ion-label class="label label-md myLabel">Rolle bearbeiten</ion-label>
    </div>
    <div class="changeRoleContainer">
      <ion-item>
        <ion-checkbox [(ngModel)]="player.isPlayer" class="myChk"></ion-checkbox>
        <ion-label>Spieler</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox [(ngModel)]="player.isTrainer" class="myChk"></ion-checkbox>
        <ion-label>Trainer</ion-label>
      </ion-item>
      
    </div>
    <div class="saveButtonContainer">
      <button ion-button round (click)="saveChange($event, player)">Speichern</button>
    </div>
  </div>

</ion-content>