.pictureContainer{
    text-align: center;
    margin-top: 20px;
}


.bottomContainer{
    margin-top: 30px;
    text-align: center;
}

.labelRoleContainer{
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: #cccccc;
    font-weight: bold;
    font-size: 18px;
}

.label.label-md.myLabel{
    margin: 8px 3px 8px 0px;
}

.changeRoleContainer{
    text-align: center;
    padding: 8px;
    margin-top: 30px;
}

.myChk{
    margin-right: 10px;
    margin-left: 10px;
}

.saveButtonContainer{
    margin-top: 30px;
}